#lpm
type lpm_exec, system_file_type, exec_type, file_type;
type lpm, domain, coredomain;
init_daemon_domain(lpm)

allow lpm self:capability { sys_boot net_admin sys_boot sys_admin };
allow lpm self:netlink_kobject_uevent_socket { create bind read setopt };
allow lpm efs_file:dir rw_dir_perms;
allow lpm efs_file:file create_file_perms;
allow lpm gpu_device:file create_file_perms;
allow lpm gpu_device:dir rw_dir_perms;
allow lpm gpu_device:chr_file rw_file_perms;
#allow lpm property_socket:sock_file write;
#allow lpm init:unix_stream_socket connectto;
set_prop(bootanim, sec_charger_mode_prop)
